<% if(theme.toc){  %>

	<div id="toc" >		

		<div class="toc-container">	

		<span id="toc-contents" class="toc-contents iconfont icon-open"> 
			<span><%= __('Contents')%></span>
		</span>

		<ul class="toc-list"></ul>

		</div>

	</div>
<% } %>