

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300')


// Fonts
$font-size 		=  14px

$font 			= -apple-system, BlinkMacSystemFont,'Open Sans','Microsoft YaHei','Arial','sans-serif'
$header-font	= 'Century Gothic','Microsoft YaHei','Arial','sans-serif'
$time-font      = 'Dosis','Microsoft YaHei','Arial','sans-serif'


// Colors
$bgr 		= #ffffff
$line-clr 	= #eeeeee
$border-clr	= #d5dce5
$search-clr = #FBFCFD

$article-clr =#444444

$white 		= #FFFFFF
$gray 		= #d5d6d7
$light-gray = #969696
$black		= #42505a
$shallow    = #6f6f6f



//default color style
$main-clr	 = #000000
$sub-clr  	 = #727272
$thr-clr 	 = #e26d6d


// Media queries
// 1024  1280  1366  1440   1600  1920   
mq-mobile   = "screen and (max-width: 479px)"
mq-tablet   = "screen and (min-width: 480px) and (max-width: 768px)"
mq-normal   = "screen and (min-width: 769px) and (max-width: 1599px)"
mq-desktop  = "screen and (min-width: 1600px)"

