//
// mobile
// 

//type
h1,h2,h3
	margin 28px 0
h4,h5,h6
	margin 14px 0
h1
	font-size 22px
h2
	font-size 18px
h3
	font-size 16px
h4
	font-size 14px
h5,h6
	font-size 12px
p
	margin 12px 0
	font-size 14px	


//container 
.container	
	display block	
.container,#main
	clear both
	width 98%	
	margin 1rem 0 
	padding 0 .4em 

//block
.block
	margin 0
//toc
#toc
	display none
//header
.header
	width 100%
.header-nav
	max-width 100%		
	height 50px
	position relative
	text-align center	
.header-logo
	display inline-block
	font-size 22px	
	margin 0 auto
.header-title
	width auto
	max-width 50%
	font-size 18px
.header-menu
	display none
//mobile menu	
.mobile-toggle
	display inline
//post
.post
	padding 0 .8em
.post-title
	display none
.post-info
	margin 0	

.nav
	margin 1em 0 2em 0
	height 60px
.nav-prev,.nav-next
	font-size 15px
	width 100%
	margin .8em 0
.nav-prev	
	text-align left
.nav-next
	text-align right
#donate-box
	width 94%
	top 50%
	left 3%
	margin-left 0
	border-radius 6px	
//article	
.article
	margin 10px 0 40px 0

.article-header
	padding 0 
	text-align left
	& time
		font-size 13px
		padding-left 6px
.article-title
	margin 2px 0
	font-size 20px
.article-excerpt p
	margin 12px 0
	color rgba(0,0,0,.8)
	font-size 13px !important	
.article-readmore
	display none
	   
//item
.item 
	margin 4px 8px
	padding 4px	
.item-date , .item-title
	display block
	clear both	
	text-align left
.item-title
	max-width 100%
	width 100%
	margin 8px 0
.meta-block
	margin 0
.meta-name 
	margin 1em 0	
//archive								
.archive li			
	padding 0 !important	
.archive-time		
	position  static		   
.archive-title
	display block
	margin 1rem 0 
	padding-bottom 1rem
	& a
		font-size 1.1rem
//tag
.tag-wrap 
	margin 2px 0 8px 0	

//gallery
.gallery-box,.gallery-brg,.gallery-img
	width 100%
//page title
.page-title
	display none
//back-to-top
#backTop
	left 82%
	bottom 10%
//paginator
.prev,.next 
	font-size 14px
//footer
#footer
	display block
#footer div
	margin 0

//search
.search-widget
	display none
.search-container	
	position fixed 
	margin 0 auto
	left 0
	top 0
	width 100%
	max-height 85%
	border-radius 0	
.search-input
	width 80%
.search-result
	padding 4px
	overflow hidden
.search-item
	margin 4px 4px 6px 4px	
//////////js			
.slide-right
	transform translateX(200px)
	transition .5s
.slide-left
	transform translateX(0px)
	transition .5s