 .back-to-top    
    bottom 10%
    left 90%    
.header-nav   
	max-width 100%  
	display block
.header-logo    
    float left 
    display block   
.header-logo  span        
	display block
	line-height 4rem
	text-align center
#main
	width 100%
 
#post
	margin 0 auto
	width 94% 

#toc
	display none

.gallery-box,.gallery-brg,.gallery-img
	width 100%