// 文章排版

.post-content a , .article-excerpt a
  @extend $toRight
.post-content a , .article-excerpt a
  &:link,&:visited,&:active 
    color $thr-clr    
  &:hover    
    color $main-clr  


h1,h2,h3,h4,h5,h6
    font-weight 300
    line-height 1.25
    color rgb(64,64,64)
    word-spacing .5px   
h1
    font-size 1.5rem
    margin 50px 0 40px 0 
h2  
    margin 40px 0 0 0 
    font-size 1.25rem
h3
    margin 40px 0 0 0
    font-size 1.125rem
    
h4,h5,h6
    font-size 1rem     

p
   font-weight 300
   letter-spacing .4px
   word-spacing .5px  
   color rgb(0,0,0)
   margin 28px 0
   line-height 1.8
   font-size 0.9rem
   

strong
   font-weight 400   
   

blockquote
  display block
  letter-spacing .4px
  font-size 1rem
  padding 0 12px
  margin 40px 0 
 
blockquote p  
  margin  0
  padding-left 10px
  border-left 3px solid $sub-clr 
  
hr
  margin 1em 0
  opacity .2
  border .2px solid $gray 
ul,ol
  margin-left 22px
  padding-left 0px
ul p , ol p 
  margin 0

li
  font-size 0.825rem
  margin 8px 0
  
  

table 
  border-collapse collapse
  border-spacing 0
  font-size 14px
  margin 28px 0
 
    
th
  font-size 15px
  
th,td
  border 1px solid #ddd
  padding .4em 1em
  font-weight 300
  margin 28px 0

