

.article 
  margin 0px 0 80px
  padding 20px 0 50px
  border-bottom 1px solid $line-clr
  opacity 0 

.article-header   
   margin-bottom 1rem
   text-align center
   & time
     color rgba(0,0,0,.5)   
      
.article-title     
    display block      
    font-size 1.85rem
    padding 0 6px
    margin-bottom .8rem   
 
.article-excerpt   
    margin 0
    padding 12px 10px   
    font-size 1rem      

.article-info
    text-align center 
    margin .5rem 0
  
.article-readmore 
    display block
    float right
    margin 0 1rem 0      
    font-size .9rem 
    letter-spacing .8px
    &:link,&:visited,&:active 
      color $light-gray
    &:hover
      color $thr-clr         
    

 
.banner    
    position relative
    left -1%   
    width 102%
    height 22.5rem  
    background-size cover
    background-position center
    background-repeat no-repeat
    border-radius 2px

.gallery  
    border-radius 2px
    display inline-block
    width 11.22rem
    height 11.22rem  
    background-size cover
    background-position center
    background-repeat no-repeat