

.meta-time,.meta-words,.meta-link
	@extend $oneline  
	font-size .85rem  
	color $black
	margin-right 1.5rem
	margin-bottom .4rem


.item		
	margin 2rem 0
	padding 0 2rem
	font-size 1rem
	display flex
	justify-content center	
		
.item-date			
	width 25%
	font-size .9rem
	text-align center
	color $black	

.item-title		
	width 70%		
	&:hover		
		color $thr-clr