
#footer	
	display flex
	justify-content space-between	
	line-height 3rem
	margin 7rem 15% 1rem 15%
	padding 3rem 0 .8rem
	font-size .85rem
	color rgba(0,0,0,.5)
	& a	
		color $thr-clr
		&:hover
			color $main-clr