
//
// tag 
//

.meta-block
	overflow hidden
	margin .6em  .6em 0 .8em
	
.meta-name	
	margin 1em 	
	letter-spacing 1px
	font-size 1rem 


//
// tag 	
//
	
.tag-wrap	
	@extend $tags  
	display inline-block		
	margin .4rem .3rem 	
	padding  2px 12px	
.tag-name
	font-size 0.825rem
	
//
// cate
// 
.cate-container
	clearfix()	
	& > div		
		column(4,12)
			
.cate-inner
	padding .8rem
	margin .5rem 1rem 1rem 1rem
	border 1px solid $line-clr
	border-radius 4px
	overflow hidden	
	&:hover		
		box-shadow 3px 3px 3px rgba(0,0,0,.03)
	
		
.cate-name	
	display inline-block 
	@extend $oneline
	width 100%
	margin 1rem 0 1.25rem 0	
	
.cate-count
	display block
	text-align right
	font-size 0.825rem	


//
// archive
//
.archive
	padding 0 0rem
	& ul
		list-style-type none
		margin 0
		padding 0
		& li
			margin 0			
			position relative
			padding 1.8rem 0 1.8rem 4rem		
			
			
.archive ul li:after	
	position absolute
	content " "
	bottom 0
	left 2%
	width 96%
	height .4px
	background $line-clr	
	    		    

.archive-year	
	font-size 1.2rem
	text-align center
	margin 2rem 0  
	color rgba(0,0,0,.4)	
	
.archive-time		
	position  absolute
	left 6rem
	top 35px
	font-size 1rem
	color rgba(0,0,0,.5)
	
		    
.archive-title
	display inline-block
	margin-left 12.5rem	
	& a
		font-size 1.25rem
		letter-spacing 1px
