.search-container
	display none
	position fixed
	left 50%
	top 80px
	z-index 999
	width 700px
	max-height 600px
	margin-left -350px
	overflow-x hidden
	overflow-y auto
	border-radius 8px
	background  $white

.search-input	
	margin 0 auto
	padding 14px 0 14px 20px
	width 90%
	height 28px
	border none
	font-size 1rem
	color rgba(0,0,0,.8)
	border-bottom 1px solid $line-clr 
	outline none     

.search-cancel
	position absolute
	width 20px	
	height  28px   

.search-result
	padding 12px
	margin 3px 0	
	overflow hidden


.search-item
	margin 10px 0 12px 0	
	border-bottom 1px solid $line-clr 	
.search-title
	@extend $oneline
	display block
	width 98%
	font-size 1rem
	padding-left 12px
	&:link,&:visited,&:active
		color rgba(0,0,0,1)
	&:hover
		color $thr-clr
		
.search-content	
	@extend $oneline
	padding 12px
	margin 2px 0		
	font-size .825rem
	color rgba(0,0,0,.7)
.search-empty
	margin 20px 0 24px 0
	font-size 1rem
	text-align center
	&:hover
		color $thr-clr
.search-keyword
	color $thr-clr	