


<% if (post.banner){ %>
	<div class="banner"   
	data-origin="<%- url_for(post.banner) %>"></div>

<% } else if (post.photos && post.photos.length){ %>
	
	<% for( i in post.photos){%>
	<div class="gallery" 
	data-origin="<%- url_for(post.photos[i]) %>"></div>
	<%}%>  
<%}%>
