//
// article
//
.article 
  margin 0px 0 80px 0 
  padding 20px 0 50px 0
  border-bottom 1px solid $line-clr
  opacity 0  
//
// title
//
.article-header   
   padding 0 0 12px 
   text-align center
.article-header time
  color rgba(0,0,0,.5)   
      
.article-title          
    font-size 1.625rem
    margin 0 0 10px   
    padding 0 4px
    display block       
//
// excerpt
//    
.article-excerpt   
    margin 28px 0  
    padding 0 8px   
    font-size 1rem       
  
.article-readmore 
    display block
    float right
    margin 0 1rem 0 0     
    font-size 0.9rem  
    &:link,&:visited,&:active 
      color $light-gray
    &:hover
      color $thr-clr       
     
  
//
// banner
//    
 .banner-brg    
    position relative
    left -1%   
    width 102%
    height 330px  
    background-size cover
    background-position center
.banner-img
    visibility hidden
    width 100%
    height 100%    

//
// gallery
//
    
.gallery-box
    display inline-block
    width 11.22rem
    height 11.22rem    
.gallery-brg    
    border-radius 2px
    display block
    width 11.22rem
    height 11.22rem  
    background-size cover
    background-position center
.gallery-img
    visibility hidden
    width 100%
    height 100%  