///
// info
//

.post-time,.post-words,.post-visitor,.post-meta
  @extend $oneline  
  font-size .9rem 
  color rgba(0,0,0,.6)   
  margin-right 24px
  padding .8em 0
  font-family $time-font 
.category-link,.tag-link
    font-size .825rem 
    font-weight 300 
    font-family $font
    &:visited,&:active,&:link
      color rgba(0,0,0,1)     
    &:hover 
     color $thr-clr
  

// paginator
//
.paginator
  margin 4em 0 2em
  padding 10px 0 
  font-size .95rem
  text-align center
  letter-spacing 1px 
.page-number     
  margin 0 8px  
  &:hover        
    color $thr-clr 
    
.prev , .next
   @extend $tags
   padding 3px 12px
  
.prev  
  float left  
.next  
  float right  
.current    
  color $thr-clr  
  

///
// info
//

.post-time,.post-words,.post-meta
	@extend $oneline  
	font-size .9rem
	margin-right 24px
	padding 8px 0

		
//profie
//
.profile
	border-bottom 1px solid $line-clr
	margin 0 0 2rem 0 
	padding-bottom 16px
	text-align center		
.avatar
	display block
	width 90px
	height 90px
	border-radius 50%
.author
	margin .825rem 0  .5rem 
	text-align center	
	font-size 1.125rem
.location
	margin 0 
	font-size .8rem
	color gray
.social
	text-align center
	font-size 1.125rem	


//	
//item
//
.item	
	font-size 1rem
	overflow hidden
	margin 1.6rem 0
	padding 0 2rem
	&:hover
		color $thr-clr
		
.item-date		
	float left
	width 25%
	text-align right
	&:hover		
		color $thr-clr

.item-title
	float left
	margin-left 5%		
	width 70%		
	&:hover		
		color $thr-clr
