///
// info
//

.post-time,.post-words,.post-visitor,.post-meta
  @extend $oneline  
  font-size .9rem 
  color rgba(0,0,0,.6)   
  margin-right 24px
  padding .8em 0
  font-family $time-font 
.category-link,.tag-link
    font-size .825rem 
    font-weight 300 
    font-family $font
    &:visited,&:active,&:link
      color rgba(0,0,0,1)     
    &:hover 
     color $thr-clr
  

// paginator
//
.paginator
  margin 4em 0 2em
  padding 10px 0 
  font-size 0.825rem
  text-align center      
.page-number     
  margin 0 8px  
  &:hover        
    color $thr-clr 


.prev  
  float left  
.next  
  float right  
.current    
  color $thr-clr  
  

///
// info
//

.post-time,.post-words,.post-meta
	@extend $oneline  
	font-size .9rem
	margin-right 24px
	padding 8px 0


//	
//profie
//
.profile
	border-bottom 1px solid $line-clr
	margin 0 0 2rem 0 
	padding-bottom 16px
	text-align center		
.avatar
	display block
	width 90px
	height 90px
	border-radius 50%
.author
	margin 12px 0  
	text-align center	
	font-size 1.125rem

.social
	text-align center
	


	font-size 1.125rem	
.social
	text-align center


//	
//item
//
.item	
	font-size 1rem
	overflow hidden
	padding .5em 0 .5em 1em	
	&:hover
		color $thr-clr
		
.item-date		
	float left
	width 20%
	text-align center
	&:hover		
		color $thr-clr

.item-title
	float left
	margin-left 3%		
	width 75%		
	&:hover		
		color $thr-clr


//

.post-content a , .article-excerpt a
  @extend $toRight
.post-content a , .article-excerpt a
  &:link,&:visited,&:active 
    color $thr-clr    
  &:hover    
    color $main-clr  
