//
// footer
//
#footer	
	display flex
	justify-content space-between	
	line-height 3rem
	margin 6rem 15% 2rem 15%
	padding 3rem 0
	font-size .85rem
	color rgba(0,0,0,.5)
	border-top 1px solid $line-clr	
#footer	 a	
	color $thr-clr
	&:hover
		color $main-clr