//
// footer
//
#footer	
	margin 6rem 15% 2rem 15%
	padding 3rem 0
	font-size .85rem
	color rgba(0,0,0,.5)
	border-top 1px solid $line-clr
	display flex
	justify-content space-between
#footer	 a	
	color $thr-clr
	&:hover
		color $main-clr