//
// header
//
.header
  width 100%
   
.header-nav   
  margin 0 auto  
  height 60px 
  max-width 80%
  line-height 60px 
  margin 0 auto   
  max-width 80%
  height 4rem
  line-height 4rem
  display flex  
  align-items center
  justify-content space-between

.header-logo   
    @extend $oneline
    display inline-block
    width 33%
    font 1.625rem $header-font
    text-align center            
.header-menu
    margin-right 5%  
    display flex
    justify-content flex-end
    white-space nowrap
.header-menu-link  
    @extend $oneline    
    margin 0 1rem 
    font-size .9rem
    display inline-block
    letter-spacing 1px 
     

//---------js  
.header-static
  position static
  background-color $bgr
.header-fixed
  position fixed
  z-index 999
  top 0
  left 0
  opacity .8
  background-color $white
  transition all .6s   
.header-menu-active  
  border-bottom 2px solid rgba($main-clr,.5)
  &:visited,&:active,&:link      
      color rgba($main-clr, 1)
  &:hover
      color $thr-clr 
      border-bottom 2px solid $thr-clr    
.header-title
   font-size 1.625rem


//      
// slide-menu 
//
.mobile-toggle
  display none
  position absolute
  margin 0  auto
  padding 0
  left 20px
  top 6px 
  margin-left -9px
  margin-top -9px
.mobile-menu
  display none
  position fixed
  left 0
  top 0    
  width 200px
  height 100%
  background-color $bgr
  z-index 999  
  padding-top 26px
  text-align center
.mobile-menu-link 
  display block
  padding 18px 16px
  line-height 1
  letter-spacing .6px 
.mobile-menu-icon 
  margin 30px
  width 40px     
 